<!-- asi recibo una variable desde js -->
<!-- <h2> <% //=var1 %></h2> -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Node JS developer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-success" type="submit">Search</button>
              </form>
            </div>
        </div>
    </div>
    </nav>

<div class="container" style="padding-top: 4em;">
    <h1>Listado</h1>
    <a href="/create" class="btn btn-primary">
        <i class='bx bx-plus-circle bx-md bx-flashing'></i>
    </a>
    <table class="table table-bordered table-striped mt-4">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Clave</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach((usuarios)=> { %>
            <tr>
                <td><%=usuarios.id %></td>
                <td><%=usuarios.Documento %></td>
                <td><%=usuarios.Nombre %></td>
                <td><%=usuarios.Rol %></td>
                <td><%=usuarios.Clave %></td>
                <td>
                    <a href="/views/edit"><i class='bx bxs-edit-alt bx-md bx-tada-hover'></i></a>
                    <a href="/views/delete"><i class='bx bxs-error-alt bx-md bx-fade-down-hover'></i></a>
                </td>
            </tr>

       <%   }) %>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5">Usuarios con roles</th>
            </tr>
        </tfoot>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>